<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/css/element.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div id="app">
    <el-container>
        <el-header th:replace="common::el-hearder">
        </el-header>
        <el-container>
            <el-aside th:replace="common::el-aside">
            </el-aside>
            <el-main>欢迎登录学生作业管理系统！</el-main>
        </el-container>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script th:src="@{/js/vue.js}"></script>
<!-- import JavaScript -->
<script th:src="@{/js/element.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                loginForm: {
                    user_name: '',
                    password: '',
                    auth_code: '',
                    email: '956350915@qq.com'
                }
            }
        },
        methods: {
            onSubmit: async function () {
                const {data: res} = await axios({
                    url: "/api/login",
                    method: "post",
                    // 自定义请求头
                    headers: {'content-type': 'application/x-www-form-urlencoded'},
                    data: this.loginForm
                })
                if (res.code === 200) {
                    this.$message.success("登录成功")
                    return;
                }
                this.$message.error(res.msg)
            },
            sendEmail: async function () {
                if (this.loginForm && this.loginForm.email.trim().length === 0) {
                    this.$message.error("邮箱不能为空")
                    return;
                }
                const {data: res} = await axios({
                    url: "/api/login/send",
                    method: "post",
                    // 自定义请求头
                    headers: {'content-type': 'application/x-www-form-urlencoded'},
                    data: {
                        email: this.loginForm.email
                    }
                })
                if (res.code === 200) {
                    this.$message.success("发送成功，请注意查收")
                    return;
                }
                this.$message.error("发送失败，请稍后再试")
            }
        }
    })
</script>
</html>