<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" th:href="@{/css/element.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div id="app">
  <el-container>
    <el-header th:replace="common::el-hearder">
    </el-header>
    <el-container>
      <el-aside th:replace="common::el-aside">
      </el-aside>
      <el-main>
        <el-card shadow="never">
          <div style="display: flex;justify-content: center">
            <el-form style="width: 50%" ref="form" :model="form">
              <el-form-item label="旧密码">
                <el-input type="password" v-model="form.old_password"></el-input>
              </el-form-item>
              <el-form-item label="新密码">
                <el-input type="password" v-model="form.new_password"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">修改</el-button>
              </el-form-item>
            </el-form>
          </div>

        </el-card>
      </el-main>
    </el-container>
  </el-container>



</div>
</body>
<!-- import Vue before Element -->
<script th:src="@{/js/vue.js}"></script>
<!-- import JavaScript -->
<script th:src="@{/js/element.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: function () {
      return {
        form: {
          old_password: '',
          new_password: '',
        }
      }
    },
    methods: {
      onSubmit: async function () {
        const {data: res} = await axios({
          url: "/api/modify-password",
          method: "post",
          // 自定义请求头
          headers: {'content-type': 'application/x-www-form-urlencoded'},
          data: this.form
        })
        if (res.code === 200) {
          this.$message.success(res.msg)
          window.location.href = "/logout"
          return;
        }
        this.$message.error(res.msg)
      },
    }
  })
</script>
</html>